@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  background: #23424a;
  color: white;
  padding: 9.25rem 10rem;
}

.intro-content{
  width: 50%;
  max-width:750px;
}
.intro-content h1{
  font-size:3rem;
}
.intro-content p{
  font-size: 1rem;
  font-weight:400;
  opacity:0.85;
}
.intro-content button{
  padding: 1rem 3rem;
  color:#222;
  background-color:#38CFD9;
  font-size:1.3rem;
  border-radius:2rem;
  border:transparent;
  margin:2rem 0;
}
